.geocoder-control-input {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("img/search.png");
  background-size: 26px;
  border: none;
  padding: 0;
  text-indent: 6px;
  font-size: 13px;
  height: 26px;
  width: 100%;
  line-height: .5em;
  background-position: right center;
  cursor: pointer;
}

.geocoder-control {
  width: 26px;
  position: relative;
  -webkit-transition: width .175s ease-in;
  -moz-transition: width .175s ease-in;
  -ms-transition: width .175s ease-in;
  -o-transition: width .175s ease-in;
  transition: width .175s ease-in;
}

.geocoder-control-expanded {
  width: 275px;
}

.geocoder-control-input.geocoder-control-loading {
  background-image: url("img/loading.gif");
  background-size: 26px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .geocoder-control-input {
    background-image: url("img/search@2x.png");

  }
  .geocoder-control-input.geocoder-control-loading {
    background-image: url("img/loading@2x.gif");
  }
}

.geocoder-control-input:focus {
  outline: none;
  cursor: text;
}

.geocoder-control-input::-ms-clear {
    display: none;
}

.geocoder-control-suggestions {
  width: 100%;
  position: absolute;
  top: 26px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  overflow: hidden;
  display: none;
}

.geocoder-control-suggestions .geocoder-control-suggestion {
  font-size: 13px;
  padding: 7px;
  background: white;
  border-top: 1px solid #f1f1f1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.geocoder-control-suggestions .geocoder-control-suggestion:first-child {
  border: none;
}

.geocoder-control-suggestions .geocoder-control-suggestion.geocoder-control-selected,
.geocoder-control-suggestions .geocoder-control-suggestion:hover {
  background: #00c0ff;
  border-color: #00c0ff;
}

.leaflet-touch .geocoder-control-input {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.leaflet-oldie .geocoder-control-input {
  border: 1px solid #999;
}